<h1>{{title}}</h1>
<p>Register new user</p>

<div class="row">
	<div class="col-sm-6">
		<form action="/signup" method="POST">
			<input type="text" name="username" class="form-control" placeholder='username' required autofocus/>
			<input type="password" name="password" class="form-control" placeholder='Password' required/>
			<input type="email" name="email" class="form-control" placeholder='email' required/>
			<input type="text" name="firstName" class="form-control" placeholder='first name' required autofocus/>
			<input type="text" name="firstName" class="form-control" placeholder='last name' required autofocus/>
			<button class="btn brn-lg btn-primary btn-block" type="submit">Register</button>
			<span class="clearfix"></span>
		</form>
	</div>
</div>

