{{#link-to 'roles' app.id tagName='tr' class="app-row echo-link"}}
	<td class="app-name">{{app.name}}</td>
	<td class="app-description">{{app.description}}</td>
	<td><button class="btn btn-success btn-xs" {{action 'saveApp' bubbles=false}}>Save</button></td>
{{/link-to}}