<h4>{{model.name}}: Roles</h4>

<button class="btn btn-success" {{action "createAppRole"}}>Create Role For Application</button>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{{#each model.appRoles as |appRole|}}	
		<tr>
			<td class="app-name">{{appRole.name}}</td>
			<td class="app-description">{{appRole.description}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
