<h4>Roles</h4>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |appRole|}}	
		<tr>
			<td class="app-name">{{appRole.role.name}}</td>
			<td class="app-description">{{appRole.role.description}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
